.DateContainer {
  width: 200px;
  border-radius: 10px;
  background-color: #e6f7ff;
  cursor: pointer;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7px;
}
